fieldset {
	display: none;
	border: none;
  }
  
  fieldset:first-of-type {
	display: block;
  }
  
  legend {
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  button {
	margin-top: 10px;
  }
  